.button {
  @apply 
    rounded-full
    transform
    transition-transform
    duration-75
    ease-in
    shadow-sm 
    hover:scale-105 
    active:scale-95 
    active:shadow-none 
    disabled:opacity-75 
    disabled:shadow-none 
    disabled:scale-100 
    disabled:cursor-not-allowed;
}

.button-primary {
  @apply bg-primary-700 dark:bg-primary-600;
}
